.popover {
    z-index: 10;
    background-color: white;
    width: 277px;;
    border-radius: 12px;
    padding: 18px;
    position: absolute;
    transform: translate(-130px, 20px);
    gap: 12px;
    display: flex;
    flex-direction: column;

    &::before {
        content: "";
        width: 23px;
        height: 18px;
        position: absolute;
        transform: translate(120px, -30px);
        background-image: url('caret.svg')
    }



}