.default-input {
    display: flex;
    flex-direction: column;
    gap: 9px;
    label {
        font-size: 22px;
        font-weight: 300;
        color: var(--black);
    }

    input {
        border: 0.5px solid var(--primary);
        border-radius: 12px;
        outline: none;
        padding: 12px 20px;
        width: inherit;
        background-color: transparent;
        height: 50px;

        &:focus {
            background-color: var(--white)
        }
    }
}