.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.5rem;
    margin-block-start: 60px;
    border-bottom: 1px solid #AFAFAF;
    
    div:first-child {
        display: flex;
        gap: 6.25rem;
        align-items: baseline;
    }

    div:last-child {
        display: flex;
        gap: 2.5rem;
        align-items: center;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 2rem;

        li {
            font-size: 22px;
            font-weight: 400;
            cursor: pointer;
        }
    }
    
    .title {
        color: var(--logo);
        font-size: 26px;
        font-weight: 700;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    
    .profile {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        object-fit: cover;
    }
}
