.control {
    position: relative;

    .cart-btn {
        cursor: pointer;
    }

    .cart-popover {
        display: flex;
        flex-direction: column;
        gap: 15px;        
        .cart-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            overflow: auto;
            max-height: 200px;
            .cart-item {
                background-color: var(--bg-color);
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 100%;
                border-radius: 8px;
                overflow: hidden;
                font-size: 10px;
                padding: 10px;
                min-height: 50px;
                
                img {
                    width: 50px;
                    height: 50px;
                }
                .cart-description {
                    display: flex;
                    flex-direction: column;
                    width: 90px;
                    gap: 6px;
                    span {
                        color: var(--product);
                        font-weight: 700;
                    }
        
                    .cart-details {
                        display: flex;
                        justify-content: space-between;
                        font-size: 8px;
                    }
                }
            }    
        }
    
    }

    .checkout-btn {
        display: flex;
        justify-content: center;
        background-color: var(--primary);
        color: var(--white);
        width: 100%;
        border-radius: 8px;
        padding: 10px;
        font-size: 18px;
        font-weight: 700;
    }

    .signal {
        width: 15px;
        height: 15px;
        border-radius: 20px;
        background: var(--primary);
        position: absolute;
        right: 0;
        margin-right: -6px;
    }

}
