@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,300;0,700;1,200;1,300;1,400&family=Nunito+Sans:wght@400;700;800&display=swap');

:root {
  font-family: 'Kulim Park', sans-serif;
  --primary: #E4A946;
  --black: #000;
  --product: #464035;
  --white: #FFF;
  --btn-shadow: drop-shadow(0px 0px 4px #E4A946);
  --disccount-tag: #FFE6BD;

  --bg-color: #EAEEEF
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--white);
  cursor: pointer;
}